.container {
}

.revisionSelect {
    width: 400px;
    color: black;
}

.header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    color: white;
}

.header a {
    color: white;
    text-decoration: none;
}

.header .item {
    font-size: 1.3rem;
    padding: 0.7rem;
}
